* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.8rem;
  color: rgb(68, 67, 67);
}

.container {
  margin: 3rem auto;
  width: 62.5rem;
}

.section-content {
  margin-top: 6.25rem;
  text-align: justify;
}

.title {
  font-size: 3rem;
}

.images {
  width: 100%;
}

.title-section {
  font-size: 2rem;  
}

.subtitle-section {
  margin: 1.5rem 0;
}

.button-knowmore {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.table {
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #8c8c8c;
}

.table td, th {
  border: 1px solid #8c8c8c;
  padding: 1rem;
}